{
  "project_info": {
    "project_number": "SUBSTITUA_PELO_SEU_PROJECT_NUMBER",
    "project_id": "edugestao",
    "storage_bucket": "SUBSTITUA.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.example.edugestao"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "SUBSTITUA_PELA_SUA_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
